code {
  font-family: Consolas,"courier new";
  color: crimson;
  padding: 2px;
  font-size: 105%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
